html {
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #222;
  line-height: 1.4;
  margin-bottom: 0.3em;
  margin-top: 0.2em;
  font-size: 0.78rem;
  font-weight: 500;
}

p.self {
  font-weight: 700;
}

p.authors {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 0.75;
  letter-spacing: -0.01em;
}

h1 {
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
}

h5 {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    font-size: 0.9rem;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

.heading {

  font-size: 1.1em;
  font-weight: 500;
}